ansicolors==1.0.2
appdirs==1.4.3
Babel==2.4.0
closure==20161201
configparser==3.5.0
Django==1.9.13
django-appconf==1.0.2
django-compressor==2.1.1
django-compressor-toolkit==0.6.0
django-gulp==2.5.1
env-tools==2.0.0
futures==3.0.5
httplib2==0.10.3
lxml==3.7.3
oauth2==1.9.0.post1
oauthlib==2.0.2
packaging==16.8
pkg-resources==0.0.0
ply==3.10
psutil==4.3.0
PyJWT==1.4.2
pyparsing==2.2.0
python-openid==2.2.5
pytz==2017.2
rcssmin==1.0.6
requests==2.13.0
requests-oauthlib==0.8.0
rjsmin==1.0.12
six==1.10.0
slimit==0.8.1
social-auth-app-django==1.1.0
social-auth-core==1.2.0
tini==3.0.1
