{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>BBG</title>
    <link rel="stylesheet" href="{% static 'bbg_client/css/main.css' %}" type="text/css">
	<link rel="stylesheet" href="{% static 'build/bootstrap.min.css' %}" type="text/css">
</head>
<body>
    <div class="container">
        <div id="content"></div>
        <ul>
        {% for tank in user.tanks.all %}
            <li>{{ tank.tkey }}</li>
        {% endfor %}
        </ul>
    </div>
    <script type="text/javascript">
        var predefinedVars = {
            wsURL: "{{ BBG_WS_URL }}",
            staticURL: "{{ STATIC_URL }}",
            socialAuthURL: {
                facebook: "{% url "social:begin" "facebook" %}",
                github: "{% url "social:begin" "github" %}",
            },
            debug: {{ debug|yesno:"true,false" }},
            currentUser:
            {% if user.is_authenticated %}
                {
                    token: "{{ user.auth_token.key }}"
                }
            {% else %}
                null
            {% endif %}
        };
    </script>
    <script src="{% static 'build/phaser.min.js' %}" type="text/javascript"></script>
    <script src="{% static 'build/game.js' %}" type="text/javascript"></script>
</body>
</html>